$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
$menuBg:#324157;
$subMenuBg:#ced8c3;
$menuHover:unquote('#20e53b85');

$c2menuBg:#b2c29e4a;
$c2subMenuBg:#b2c29e4a;
$c2menuHover:#b2c29e4a;
$c2navBar:#d4e7be52;


$contactMenuBg:#80d984;
$contactsubMenuBg:#80d984;
$contactmenuHover:#80d984;
$contactnavBar:#80d984;

$itineraryMenuBg:#80d984;
$itinerarysubMenuBg:#80d984;
$itinerarymenuHover:#80d984;
$itinerarynavBar:#80d984;
